---
import Img from '../components/img.astro'
import { cac_logo } from '../config'
import { FeaturedSVG } from '../config'
---
<style is:global>
  /* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: 'Qliche';
  src: url('/fonts/Qliche.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-family: 'Qliche';
}
</style>
<div class="relative bg-white dark:bg-gray-900 overflow-hidden">
  <div class="max-w-7xl mx-auto">
    <div
      class="z-10 relative pb-8 sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32 bg-white dark:bg-gray-900"
    >
      <svg
        class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white dark:text-gray-900 transform translate-x-1/2"
        fill="currentColor"
        viewBox="0 0 100 100"
        preserveAspectRatio="none"
        aria-hidden="true"
      >
        <polygon points="50,0 100,0 50,100 0,100"></polygon>
      </svg>
      <main
        class="pt-10 mx-auto max-w-7xl px-4 sm:pt-12 sm:px-6 md:pt-16 lg:pt-20 lg:px-8 xl:pt-28"
      >
        <div class="text-center sm:text-left">
          <h1
            class="text-4xl tracking-tight text-green-800 dark:text-pink-300 sm:text-5xl md:text-6xl text-left"
          >
          Customer Operations Consultants
          </h1>
          <p
            class="mt-3 text-base text-gray-600 dark:text-gray-300 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0"
          >
            Customer Operations Consultants is a consulting firm that helps B2B companies 
            with complex technical onboarding and support processes to scale their customer operations.  
          </p>
          <p
            class="mt-3 text-base text-gray-600 dark:text-gray-300 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0"
          >
            Founded by Mariena Quintanilla, we offer both strategic and 
            enablement services to help you standardize your offerings and 
            build the behind-the-scenes customer organization, processes 
            and tools to grow your business.
          </p>
          <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
            <div class="rounded-md shadow">
              <a
                href="/about"
                class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-green-700 hover:bg-pink-400 dark:text-black dark:bg-yellow-400 dark:hover:bg-pink-300 md:py-4 md:text-lg md:px-10"
              >
                About
              </a>
            </div>
            <div class="mt-3 sm:mt-0 sm:ml-3">
              <div class="rounded-md shadow">
                <a
                  href="/services"
                  class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-green-700 hover:bg-pink-400 dark:text-black dark:bg-yellow-400 dark:hover:bg-pink-300 md:py-4 md:text-lg md:px-10"
                >
                  Services
                </a>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  <div
    class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2 bg-pink-200 dark:bg-pink-200"
  >
    <Img
      class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full"
      src={FeaturedSVG}
      alt="featured"
    />
  </div>
</div>
